.presentation {
  background-color: #f3ece6;
  padding: 4rem 2rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 1rem;
}

.description {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -100px;
}

.features {
  flex: 2;
  max-width: 800px;
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.featureList li {

  display: flex;
  align-items: flex-start;
  gap: 2rem;
   font-size: 2.5rem;
  font-weight: 100;
  color: #1e1e1e;
}

.icon {
  min-width: 24px;
  color: #000;
  margin-top: 0.2rem;
}

.featureList p {
  margin: 0.25rem 0 0 0;
  color: #666;
  font-size: 0.95rem;
}

.ctaButton {
  margin-top: 40px;
  background-color: #000;
  color: #fff;
  padding: 1rem 3.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.ctaButton:hover {
  background-color: #271a16;
  color: bisque;
}

.imageContainer {
  flex: 1;
  max-width: 650px;
  display: flex;
  text-align: center;
}

.productImage {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}

.decorativeBackground::after {
  width: 500px;
  height: 600px;
  bottom: 180px;
  right: 270px;
  opacity: 0.8;
  box-shadow: 0px 27px 118px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 27px 118px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 27px 118px -1px rgba(0, 0, 0, 0.75);
}

.imageWrapper {
  position: relative;
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.effect {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  align-content: flex-start;
}

.effect::before,
.effect::after {
  content: "";
  position: absolute;
  top: 320px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #e8ceb7, #271a16, #debb97);
  animation: lava 9s infinite linear;
  opacity: 0.4;
}

.effect::after {
  animation-delay: 5s;
  background: radial-gradient(circle at center, #e8ceb7, #271a16, #debb97);
  opacity: 0.6;
  transform: scale(1.2);
}

@keyframes lava {
  0% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@media (max-width: 1108px) {
  .body {
    flex-direction: column;
    margin-top: 0;
  }

  .features {
    margin-top: 2rem;
    max-width: 100%;
    padding: 0 1rem;
  }

  .imageContainer {
    max-width: 40%;
    margin-top: 2rem;
  }

  .featureList li {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    align-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .ctaButton {
    width: 100%;
    text-align: center;
  }

  .imageWrapper {
    width: 40%;
  }

  .effect::before,
  .effect::after {
    top: 100px;
    height: 150%;
  }
}


/* ------------------------ */
/* Responsive adjustments ↓ */
/* ------------------------ */
@media (max-width: 768px) {
  .body {
    flex-direction: column;
    margin-top: 0;
  }

  .features {
    margin-top: 2rem;
    max-width: 100%;
    padding: 0 1rem;
  }

  .imageContainer {
    max-width: 100%;
    margin-top: 2rem;
  }

  .featureList li {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .title {
    font-size: 2rem;
  }

  .ctaButton {
    width: 100%;
    text-align: center;
  }

  .imageWrapper {
    width: 100%;
  }

  .effect::before,
  .effect::after {
    top: 200px;
    height: 150%;
  }
}
